<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% load static %}
<title>IA-Animalitos</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href=  "{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />


<script type="text/javascript" src="{% static 'js/cufon-yui.js' %}" ></script>
<script type="text/javascript" src="{% static 'js/arial.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cuf_run.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.8/font-awesome-animation.min.css">

</head>
<body>
<!-- START PAGE SOURCE -->
<div id='uno' style="margin-bottom:-10px;">
  <a href="https://www.bcv.org.ve/" style="color:#F9F9F9;"><MARQUEE  behavior="ALTERNATE" scrollamount=6 width=100% height=100% bgcolor="1E5D8E"> BCV OFICIAL - COTIZACIONES DEL DIA: DOLAR ($): {{valordolar}} EURO (Є): {{valoreuro}} FECHA BCV: {{fecha}} </MARQUEE></a>
</div>
<div class="main">		 
      <div class="header">
        <div class="logo" style="margin-left:20px;">
          <h1><a href="index.html"><span>IA</span>Animalitos</a></h1>
        </div>
        <div  style="width:30px; height:30px; float:left; margin-top:21px; position:absolute; margin_left:-5px">
          <a><img class="hexagono" src="../../static/img/img_{{loto11}}.jpg" width="60" height="60" alt="" /></a>          
        </div>
        <div class="menu_nav" >
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'soporte' %}">Soporte</a></li>
           
            <li class="active" ><a>Contacto</a></li>
          </ul>
        </div>
        <div class="clr"></div>   
      </div>


                
    {% include 'resultados.html' %}
  </div>
        
             
  <div class="content">
    <div class="mainbar">
      <div class="article" style="color:#151618;" >
        <span style="font-size: medium; ">COMO  CONTACTARNOS</span>
        <div class="clr"></div>
        {% comment %} <p class="post-data"><span class="date">March 16, 2018</span> &nbsp;|&nbsp; Posted by <a href="#">Owner</a> &nbsp;|&nbsp; Filed under <a href="#">templates</a>, <a href="#">internet</a></p> {% endcomment %}
        <img src="{% static 'img/images_2.jpg' %}" width="613" height="193" alt="" />
        {% include 'ext_contacto.html' %} 
        
        <div class="clr"></div>
      </div>
     
      
    </div>
    

  {% include 'sidebar_ext.html' %}   
  {% include 'ext_datos.html' %}    
</div>
       
    </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">Copyright &copy; 2024 <a href="#">IAAnimalitos.com</a> - All Rights Reserved</p>
      <p class="rf">Design by <a href="https://lmarinportafolios.000webhostapp.com/">DjConejo (Luis Marin)</a></p>
      <div class="clr"></div>
    </div>
  </div>
</div>
<!-- END PAGE SOURCE -->
</body>
</html>