{% extends "index.html" %}
{% load static %}


{% block content %}

<div class="mainbar">
    <div class="article" style="color:#151618;" >
      <span style="font-size: medium; ">INTELIGENCIA ARTIFICIAL- LOTERIAS DE ANIMALITOS EN VENEZUELA</span>
      <div class="clr"></div>
      {% comment %} <p class="post-data"><span class="date">March 16, 2018</span> &nbsp;|&nbsp; Posted by <a href="#">Owner</a> &nbsp;|&nbsp; Filed under <a href="#">templates</a>, <a href="#">internet</a></p> {% endcomment %}
      <img src="{% static 'img/images_1.jpg' %}" width="613" height="193" alt="" />
      <p >Venezuela es uno de los países de Latinoamérica con más tradición en juegos de lotería.
         Y es que, si uno pregunta en las calles de nuestro hermoso país, muchos nos hablarán de Chance, 
         Lotería de Caracas, Lotería del Zulia, Lotto Quiz, el Kino Táchira y el popular Triple Gordo.
          Por un asunto de situación país, algunas de esas loterías venezolanas dejaron de operar, pero 
          mientras estás se iban o desistían, un juego de azar basado en el sorteo se apoderaba de muchas
           regiones del país: hablamos de la lotería de los animalitos. Desde este portal le queremos hacer
           llegar la informacion de los resultados de los sorteos mas conocidos, asi como  también les compartiremos
           los pronosticos realizados a traves de esta herramienta moderna, conocida como INTELIGENCIA ARTIFICIAL.
           No somos DATEROS, Nuestros pronóstico están basados analisis de resultados y tendencias a través de 
           códigos del lenguaje de programacion Python y sus librerías Tensorflow y Keras (entre otras), para la creación de redes 
           neuronales de predicción. Nuestro objetivo es llevarles la información proveniente de datos estadísticos, 
           medias, medianas diagramas secuenciales, etc. de datos de más de 200 días de sorteos previos, analizados por una red neuronal
           y con visión del beneficio constante y frecuente.</p>
      
      <div class="clr"></div>
    </div>
   
    
  </div>




{% endblock %}