{% load static %}


<div class="sidebar" >     
    <div class="gadget">
      <h2 class="star"><span>Sponsors</span></h2>
      <div class="clr"></div>

      <div style="float:left; width:50%; height:100%;">            
        <a style="margin-left:30px;"  href="https://www.youtube.com/@ArasDeCesped"><img class="hexagono"  src="../../static/img/arasdecesped.jpg" width="70" height="70" alt="" /></a>
        <div style="font-size:8px; font-weight: 800;  text-align:center">A ras de Cesped</div>        
      </div>
    
      <div style="float:right; width:50%; height:100%; ">                     
          <a style="margin-left:30px;"  href="https://www.instagram.com/laclavedeloscampeones/"><img class="hexagono"  src="../../static/img/clave_campeones.jpg" width="70" height="70" alt="" /></a>
          <div style="font-size:8px; font-weight: 800; text-align:center">La clave de los campeones</div>        
      </div>
    </div>
    <div class="gadget">
      <div class="clr"></div>

      <div style="float:left; width:50%; height:100%;">            
        <a style="margin-left:30px;" href="{% url 'contacto' %}"><img class="hexagono"  src="../../static/img/pontulogo.jpg" width="70" height="70" alt="" /></a>
        <div style="font-size:8px; font-weight: 800;  text-align:center">Aqui tu Logo</div>        
      </div>
    
      <div style="float:left; width:50%; height:100%;">            
        <a style="margin-left:30px;" href="{% url 'contacto' %}"><img class="hexagono"  src="../../static/img/pontulogo.jpg" width="70" height="70" alt="" /></a>
        <div style="font-size:8px; font-weight: 800;  text-align:center">Aqui tu Logo</div>        
      </div>
    </div>
    <div class="gadget">
      <div class="clr"></div>

      <div style="float:left; width:50%; height:100%;">            
        <a style="margin-left:30px;" href="{% url 'contacto' %}"><img class="hexagono"  src="../../static/img/pontulogo.jpg" width="70" height="70" alt="" /></a>
        <div style="font-size:8px; font-weight: 800;  text-align:center">Aqui tu Logo</div>        
      </div>
    
      <div style="float:left; width:50%; height:100%;">            
        <a style="margin-left:30px;" href="{% url 'contacto' %}"><img class="hexagono"  src="../../static/img/pontulogo.jpg" width="70" height="70" alt="" /></a>
        <div style="font-size:8px; font-weight: 800;  text-align:center">Aqui tu Logo</div>        
      </div>
    </div>
    <div class="gadget">
      <div class="clr"></div>

      <div style="float:left; width:50%; height:100%;">            
        <a style="margin-left:30px;" href="{% url 'contacto' %}"><img class="hexagono"  src="../../static/img/pontulogo.jpg" width="70" height="70" alt="" /></a>
        <div style="font-size:8px; font-weight: 800;  text-align:center">Aqui tu Logo</div>        
      </div>
    
      <div style="float:left; width:50%; height:100%;">            
        <a style="margin-left:30px;" href="{% url 'contacto' %}"><img class="hexagono"  src="../../static/img/pontulogo.jpg" width="70" height="70" alt="" /></a>
        <div style="font-size:8px; font-weight: 800;  text-align:center">Aqui tu Logo</div>        
      </div>
    </div> 
    <div class="gadget">
      <div class="clr"></div>

      <div style="float:left; width:50%; height:100%;">            
        <a style="margin-left:30px;" href="{% url 'contacto' %}"><img class="hexagono"  src="../../static/img/pontulogo.jpg" width="70" height="70" alt="" /></a>
        <div style="font-size:8px; font-weight: 800;  text-align:center">Aqui tu Logo</div>        
      </div>
    
      <div style="float:left; width:50%; height:100%;">            
        <a style="margin-left:30px;" href="{% url 'contacto' %}"><img class="hexagono"  src="../../static/img/pontulogo.jpg" width="70" height="70" alt="" /></a>
        <div style="font-size:8px; font-weight: 800;  text-align:center">Aqui tu Logo</div>        
      </div>
    </div>                   
      {% comment %} <ul class="ex_menu">
        <li><a href="#">La clave de los Campeones</a><br />
          El mejor programa de Pronostico en Loterias, Deportes y animalitos</li>
        <li><a href="#">A Ras de Cesped</a><br />
          Canal de Futbol - #VinotintoSoy</li>
        <li><a href="#">Nombre-Logo de su empresa</a><br />
          Su descripcion</li>
        <li><a href="#">Nombre-Logo de su empresa</a><br />
            Su descripcion</li>
        <li><a href="#">Nombre-Logo de su empresa</a><br />
              Su descripcion</li>
        <li><a href="#">Nombre-Logo de su empresa</a><br />
                Su descripcion</li>
      </ul> {% endcomment %}
    </div>
  </div>
  <div class="clr"></div>
</div>