<div class="hbg">
            <div class="info fl">
              <h3>RESULTADOS</h3>
              <div id="current_date" style="font-size:150%; color:white" >
                <script>
                    let meses = new Array ("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
                    let diasSemana = new Array("Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado");
                    let f = new Date();
                    document.write(diasSemana[f.getDay()] + ", " + f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
                </script>
              </div>
              
                <div class="row" style="float:right">
                  <div class="column">
                    <img src="https://picsum.photos/800/600">
                    <img src="rocks.jpg">
                    <img src="https://picsum.photos/800/600">
                    <img src="paris.jpg">
                    <img src="nature.jpg">
                    <img src="mist.jpg">
                    <img src="paris.jpg">
                  </div>
                  <div class="column">
                    <img src="underwater.jpg">
                    <img src="ocean.jpg">
                    <img src="wedding.jpg">
                    <img src="mountainskies.jpg">
                    <img src="rocks.jpg">
                    <img src="underwater.jpg">
                  </div>
                  <div class="column">
                    <img src="wedding.jpg">
                    <img src="rocks.jpg">
                    <img src="falls2.jpg">
                    <img src="paris.jpg">
                    <img src="nature.jpg">
                    <img src="mist.jpg">
                    <img src="paris.jpg">
                  </div>
                  <div class="column">
                    <img src="underwater.jpg">
                    <img src="ocean.jpg">
                    <img src="wedding.jpg">
                    <img src="mountainskies.jpg">
                    <img src="rocks.jpg">
                    <img src="underwater.jpg">
                  </div>
                </div>
            </div>
</div>            



<div class="hbg" style="float:right; ">
  <div class="column">
    <img src="{% static 'img/0_delfin.jpg' %}" width="7%" height="7%">
    <img src="{% static 'img/0_delfin.jpg' %}" width="7%" height="7%">
    <img src="{% static 'img/0_delfin.jpg' %}" width="7%" height="7%">
    <img src="{% static 'img/0_delfin.jpg' %}" width="7%" height="7%">
    <img src="{% static 'img/0_delfin.jpg' %}" width="7%" height="7%">
    <img src="{% static 'img/0_delfin.jpg' %}" width="7%" height="7%">
    <img src="{% static 'img/0_delfin.jpg' %}" width="7%" height="7%">
  </div>          
</div>
</div>



<div class="hbg">
  <div class="info fl">
    <h3>RESULTADOS</h3>
    <div id="current_date" style="font-size:150%; color:white" >
      <script>
          let meses = new Array ("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
          let diasSemana = new Array("Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado");
          let f = new Date();
          document.write(diasSemana[f.getDay()] + ", " + f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
      </script>
    </div>        
  </div>        
  <div class="hbg" style="position: relative; float: right; ">
    
      <img src="{% static 'img/0_delfin.jpg' %}" width="7%" height="7%">
      <img src="{% static 'img/0_delfin.jpg' %}" width="7%" height="7%">
      <img src="{% static 'img/0_delfin.jpg' %}" width="7%" height="7%">
      <img src="{% static 'img/0_delfin.jpg' %}" width="7%" height="7%">
      <img src="{% static 'img/0_delfin.jpg' %}" width="7%" height="7%">
      <img src="{% static 'img/0_delfin.jpg' %}" width="7%" height="7%">
      <img src="{% static 'img/0_delfin.jpg' %}" width="7%" height="7%">
             
  </div>
</div> <!-- header band -->





<div class="col-lg-10" style="padding-top: 10px; float: left; position: relative; border: steelblue solid 1px; background-color:steelblue" >
  <h3>RESULTADOS</h3>
  <div id="current_date" style="font-size:80%; color:white; text-align:center;" >
    <script>
        let meses = new Array ("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
        let diasSemana = new Array("Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado");
        let f = new Date();
        document.write(diasSemana[f.getDay()] + ", " + f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
    </script>
  </div>        
</div>

<div class="col-lg-16" style="background-color:steelblue; padding-top: 10px; border: steelblue solid 1px; float: left;" >        
  <div class="col c1" >
    <h2><span>Image Gallery</span></h2>
    <a href="#"><img src="images/pic_1.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_2.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_3.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_4.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_5.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_6.jpg" width="29" height="29" alt="" /></a>
    <a href="#"><img src="images/pic_1.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_2.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_3.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_4.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_5.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_6.jpg" width="29" height="29" alt="" /></a> 
  </div>
  <div class="col c1">
    <h2><span>Image Gallery</span></h2>
    <a href="#"><img src="images/pic_1.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_2.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_3.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_4.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_5.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_6.jpg" width="29" height="29" alt="" /></a>
    <a href="#"><img src="images/pic_1.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_2.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_3.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_4.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_5.jpg" width="29" height="29" alt="" /></a> 
    <a href="#"><img src="images/pic_6.jpg" width="29" height="29" alt="" /></a> 
</div>        
</div>

<div style="background-color:steelblue;  align-items: right;">
  <div>
    {% comment %} <a>{{ loto9 }}</a> {% endcomment %}
    <a><img src="../../static/img/img_{{loto11}}.jpg" width="40" height="40" alt="" /></a>
  </div>
  <div style="text-align:center;">                 
    9:00 AM
  </div>
</div>

'loto9': l9, 'loto10': l10 , 'loto11': l11,   'loto12': l12, 'loto13': l13 , 'loto14': l14

<h2><span>INFORMACION LA GRANJITA</span></h2>
<div  class="d-flex justify-content-between" style="text-align:center; background-color:steelblue;  align-items: center; position: relative; float:left;">
  <div >  
    <a><img class="hexagono" src="../../static/img/img_{{granja19}}.jpg" width="80" height="80" alt="" /></a> 
  </div>
  <div style="font-size:12px;">{{ngranja19}} - {{granja19}}</div>
  <div style="font-size:12px;">07:00 PM</div>                             
</div>
<h2><span>DATOS ESTADISTICOS</span></h2>
        <h2>LottoActivo</h2>
        <div  class="d-flex justify-content-between" style="text-align:center; background-color:steelblue;  align-items: center; position: relative; float:left;">
          <div >  
            <a><img class="hexagono" src="../../static/img/img_{{salemasloto}}.jpg" width="80" height="80" alt="" /></a> 
          </div>
          <div style="font-size:12px;">{{nombresalidorloto}} - {{salemasloto}}</div>
          <div style="font-size:12px;"> {{cantidadsalidorloto}} - Veces</div>
        </div>



        <div class="fbg_resize">
      
          <div class="col c2">
            <div class='main-container'>
              <div class='container first-container'>
                <div class='item first'>
                  <a><img class="hexagono" src="../../static/img/img_{{salemasloto}}.jpg" width="80" height="80" alt="" /></a>
                  <div style="font-size:12px;">{{nombresalidorloto}} - {{salemasloto}}</div>
                  <div style="font-size:12px;"> {{cantidadsalidorloto}} - Veces</div>
                </div>
              </div>
              <div class='container second-container'>
                <div class='item second'>Second</div>
                <div class='item third'>Third</div>
              </div>
            </div>
          
          </div>
          <div class="col c3" style="background-color:steelblue; font-size:130%; color:white; text-align:center;">
                                        
          </div>


          <div style="font-size:12px;">{{nombresalidorgranja}} - {{salidor_granja}}</div>
            <div style="font-size:12px; margin-top:-10px"> {{cantidadmayorsalidorgranja}}


          <div style="font-size:12px;">{{nombre_menor_salidor_granja}} - {{menorsalidorgranja}}</div>
          <div style="font-size:12px; margin-top:-10px"> {{cantidad_menor_granja}} - Veces</div>
          <div style="font-size:12px; margin-top:-10px"> Menor Salidor</div>

  def bot_send_text( fecha, bot_message, precio1, inversion1, coins):
  bot_token = '5824717648:AAFYTk6i8hZCBU030dwuooEJuL0pHkgR9og'
  bot_chatID = '1174164422'
  send_text = 'https://api.telegram.org/bot' + bot_token + '/sendMessage?chat_id=' + bot_chatID + '&parse_mode=Markdown&text='  +' ' + 'Fecha: '+ fecha +'  ' + bot_message+' '+'Precio : ' +' '+ precio1 + ' Disponible: '+' '+ inversion1+ ' ' +'BTCUSDT= '+coins
  response = requests.get(send_text)
  return response
  
  bot_send_text( fecha,  bot_mesage, precio1, inversion1, coins2)



  https://api.telegram.org/bot5824717648:AAFYTk6i8hZCBU030dwuooEJuL0pHkgR9og/getUpdates